.messages{
margin:0;
padding:0;
}
.messages li {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  border-style: solid;
  border-color: white;
  border-width: 2px 16px 2px 8px;
  flex: 0 0 auto;
}

.messages li.mine {
  flex-direction: row;
  border-right-width: 8px;
  border-left-width: 16px;
}

.messages li:first-child {
  border-top-width: 10px;
}

.messages li:last-child {
  border-bottom-width: 10px;
}

.messages li:before {
  content: '';
  flex: 1;
  background: white;
  pointer-events: none;
}

.messages li span {
  background: #888;
  padding: 0.5em 1em;
  position: relative;
}

.messages li span:before {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  bottom: -8px;
  right: -8px;
  border: 8px solid white;
  border-radius: 20.8px;
  pointer-events: none;
}

.messages li.mine span {
  background: none;
  color: white;
}