@font-face {
  font-family: 'Vazir';
  src: url('./dist/fonts/Vazir.eot') format('eot'), url('./dist/fonts/Vazir.woff') format('woff'), url('./dist/fonts/Vazir.ttf') format('truetype');
}

@font-face {
  font-family: 'Vazir-Bold';
  src: url('./dist/fonts/Vazir-Bold.eot') format('eot'), url('./dist/fonts/Vazir-Bold.woff') format('woff'), url('./dist/fonts/Vazir-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Vazir-Light';
  src: url('./dist/fonts/Vazir-Light.eot') format('eot'), url('./dist/fonts/Vazir-Light.woff') format('woff'), url('./dist/fonts/Vazir-Light.ttf') format('truetype');
}
